/* chameleon custom  */
.cc-togo {
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 45px;
  text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
  #banner1 {
  }
  .signiture--img.mt-30 {
      /* margin-top: -190px !important; */
  }
  .signiture--img img {
    width: 40%;
  }
}
.title--heading h1 {
    padding-bottom: 30px;
}
.title--heading p {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
}
.dish--content ul {
  padding-top: 5px;
    padding-left: 0px;
    list-style: none;
    font-size: 15px;
    color: #000;
    font-weight: 600;
}
.cc-footer-location {
    font-size: 17px;
    text-transform: capitalize;
}
section .cc-menu-section {
    padding-top: 30px;
}
.cc-menu-section {
  padding-top: 30px;
}
.dish--title{
  text-transform: capitalize;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .menu-simple .dish-panel .dish--img {
    width: 100%;
    height: auto;
}
.menu-simple .dish-panel .dish--img img {
    max-width: none;
}
}
.form-container p {
    color: #000;
    font-size: 18px;
    line-height: 25px;
}
.cc-togo-phone {
    background-color: #ed313b;
    color: #fff;
    border: 1px solid #ed313b;
    border-radius: 500px;
    height: 50px;
    font-size: 15px;
    padding: 10px 20px;
}
.cc-togo-phone:hover {
    background-color: #fff;
    color: #ed313b;
    border: 1px solid #ed313b;

}
